<div class="toolbar-wrapper">
  <form class="form" nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="updateStream()">
    <div class="form-items">
      <nz-form-item nz-tooltip nzTooltipTitle="Timer, ms">
        <nz-form-control nzErrorTip="Timer is required">
          <nz-input-group nzPrefixIcon="clock-circle">
            <input formControlName="timer" nz-input placeholder="Timer, ms" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  nz-tooltip nzTooltipTitle="Array size">
        <nz-form-control nzErrorTip="Array size is required">
          <nz-input-group nzPrefixIcon="bars">
            <input formControlName="size" nz-input placeholder="Array size" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <input
        [(ngModel)]="newId"
        [ngModelOptions]="{standalone: true}"
        type="number"
        nz-input
        nz-tooltip
        nzTooltipTitle="Id"
        placeholder="Id"
        class="add-id"/>
      <button nz-tooltip
              nzTooltipTitle="Add New Id"
              nz-button
              class="add-id-btn"
              nzType="primary"
              (click)="addId()">
        Add New Id
      </button>
    </div>
    <div class="form-items">
      <input
        nz-tooltip
        nzTooltipTitle="Additional ids"
        [(ngModel)]="idsView"
        [ngModelOptions]="{standalone: true}"
        class="ids"
        nz-input
        placeholder="Additional ids"
        [readonly]="true"/>
      <button nz-tooltip
              nzTooltipTitle="Reset form"
              class="reset"
              nz-button
              nzType="primary"
              nzShape="circle"
              (click)="resetForm($event)">
        <span nz-icon nzType="close"></span>
      </button>
    </div>
  </form>
</div>
